@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: blue;
    background: url('../assets/ccs.png') no-repeat 0 0;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}

.navbar-brand {
    margin-left: 20px;   
}

#badge {
    border-radius: 50%;
    margin-top: 35%;
}

.title {
    border: 1px solid black;
    background: azure;
    display: inline-block;
    margin-top: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: #0716DE; 
    text-align: center;
}

#players {
    margin-top: 2vh;
    margin-left: 3vw;
}

.early {
    border: 1px solid black;
    margin-left: 3vw;
    margin-top: 2vh;
    margin-right: 5px;
    color: #0716DE;
    background-color: aliceblue;
    display: inline;
    vertical-align: top;
    font-family: "Quicksand", sans-serif;
}

.earlyhead {
    font-family: "quicksand", sans-serif;
    font-weight: 600;
    text-decoration: underline;

}

.promotion {
    margin-top: 2vh;
    margin-left: 5px;
    margin-right: 2vh;
    border: 1px solid black;
    background-color: aliceblue;
    vertical-align: top;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 0;
}

.test {
    display: inline;
}

#promoimg {
    margin-top: 10px;
}

.current {
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 5px;
    background-color: aliceblue;
    display: inline;
    vertical-align: top;
    padding-bottom: 10px;
    font-family: "Quicksand", sans-serif;
    height: 150px;
}

form {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-align: center;
    width: 100%;
    color: #0716DE;
}

#contactid {
    background: azure;
    margin-top: 30px;
}

.contact {
    margin-top: 15px;
    border: 1px solid black;
    background: azure;
    width: 50%;
}

.subbutton {
    margin-top: 5px;
    margin-bottom: 5px;
    color: blue;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}


.copywrite {
    color: azure;
    padding-left: 5px;
}

.socials {
    color: azure;
    size: 60px;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}

@media screen and (min-width: 480px) {
    body {
      background-color: #0716DE;
    }
    form {
        width: 100%;
    }
  }
